[submodule "Contracts/lib/forge-std"]
	path = Contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Contracts/lib/chainlink-brownie-contracts"]
	path = Contracts/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "Contracts/lib/openzeppelin-contracts"]
	path = Contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
