@import "tailwindcss";

@theme {
  /* Light Theme */
  --color-background: hsl(210, 36%, 96%);
  --color-foreground: hsl(210, 22%, 20%);
  --color-card: hsl(0, 0%, 100%);
  --color-card-foreground: hsl(210, 22%, 20%);
  --color-button-border: hsl(210, 16%, 82%);
  --color-popover: hsl(0, 0%, 100%);
  --color-popover-foreground: hsl(210, 22%, 20%);
  --color-primary: hsl(204, 86%, 53%);
  --color-primary-foreground: hsl(0, 0%, 100%);
  --color-secondary: hsl(171, 100%, 41%);
  --color-secondary-foreground: hsl(210, 22%, 20%);
  --color-muted: hsl(210, 16%, 82%);
  --color-muted-foreground: hsl(210, 22%, 30%);
  --color-accent: hsl(340, 82%, 52%);
  --color-accent-foreground: hsl(0, 0%, 100%);
  --color-destructive: hsl(0, 84.2%, 60.2%);
  --color-destructive-foreground: hsl(0, 0%, 100%);
  --color-border: hsl(210, 16%, 82%);
  --color-input: hsl(210, 16%, 82%);
  --color-ring: hsl(204, 86%, 53%, 0.15);
}

[data-theme="dark"] {
  /* Dark Theme */
  --color-background: hsl(210, 22%, 20%);
  --color-foreground: hsl(210, 36%, 96%);
  --color-card: hsl(210, 22%, 20%);
  --color-card-foreground: hsl(210, 36%, 96%);
  --color-button-border: hsl(210, 22%, 30%);
  --color-popover: hsl(210, 22%, 20%);
  --color-popover-foreground: hsl(210, 36%, 96%);
  --color-primary: hsl(204, 86%, 53%);
  --color-primary-foreground: hsl(0, 0%, 100%);
  --color-secondary: hsl(171, 100%, 41%);
  --color-secondary-foreground: hsl(210, 36%, 96%);
  --color-muted: hsl(210, 22%, 30%);
  --color-muted-foreground: hsl(210, 36%, 96%);
  --color-accent: hsl(340, 82%, 52%);
  --color-accent-foreground: hsl(0, 0%, 100%);
  --color-destructive: hsl(0, 62.8%, 30.6%);
  --color-destructive-foreground: hsl(210, 36%, 96%);
  --color-border: hsl(210, 22%, 30%);
  --color-input: hsl(210, 22%, 30%);
  --color-ring: hsl(204, 86%, 53%, 0.15);
}

html,
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  min-height: 100vh;
}
